*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    width: 100%;
    margin : auto;
}
.background{
    /* background-color: #375; */
    background-image:url(../../assets/snakeCosmo.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    
}

.wrapper{
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
}
.screen-holder {
    display: flex;
    flex-direction: column;
}
.score-box{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    font-family: sans-serif;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}
.arrow {
    border: solid #ffa500;
    /* box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 20px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .musicImg {
    width: 44px;
    height: 44px;
    color:red;
  }
  .btns {
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    width: 100%;
    max-width: 440px;
    align-items: center;
  }
  .space-bar {
      width: 100px;
      height: 20px;
      background: #ffa500;
      box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      margin-left: 20px;
      align-items: center;
      justify-content: center;
      align-content: center;
      display: flex;
  }
.control-txt {
    margin-top: 32px;
    align-self: center;
    font-size: 24px;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    /* animation: blink 5s infinite; */
    /* -webkit-animation: blink 5s infinite; */
    margin-top: 44px;
    margin-bottom: 44px;
}
.control-item {
    margin-top: 32px;
    max-height: 44px;
}
.spacebar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
  width: 300px;
    height: 50px;
    margin-top: 20px;
  border: 2px solid #2e2e2e;
      cursor: pointer;
      letter-spacing: 0.2125rem;
      overflow: hidden;
      padding: 10px 30px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      transition: background 3s
               cubic-bezier(0.19, 1, 0.22, 1),
                border 1s cubic-bezier(0.19, 1, 0.22, 1), 
                color 0.6s cubic-bezier(0.20, 1, 0.22, 1);
      user-select: none;
}
.button:hover{
  background-color: rgba(209, 204, 204, 0.05);
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
    transition: background 1s;
    color: rgb(192, 189, 189);
}
.button:focus{
    outline: 0;
}
  /* .reset-btn{
      background-color: yellow;
  }
  .pause-btn{
      background-color: red;
  } */

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
.screen{
    margin-top: 50%;
    width: 700px;
    height: 700px;
    display: block;
    margin: 5px auto;
    border: 10px solid #ffa500;
    box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;

    background-color:transparent;
    align-self: center;
    position: relative;
}
.SnakeText{

    /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
      color: #fccaff; */
      align-self: center;
      font-size: 48px;
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
      font-family: "Sacramento", cursive;
      text-align: center;
      /* animation: blink 5s infinite; */
      /* -webkit-animation: blink 5s infinite; */
      margin-top: 44px;
      margin-bottom: 44px;
    }
    @-webkit-keyframes blink {
      20%,
      24%,
      55% {
        color: #111;
        text-shadow: none;
      }
    
      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
      }
    }
    
    @keyframes blink {
      20%,
      24%,
      55% {
        color: #111;
        text-shadow: none;
      }
    
      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
      }
    }
.box{
    width: 20px;
    /* margin-right:10px; */
    height: 20px;
    position: absolute;
    border:1px solid white;
    background-color: black;
    
}
.box-fruit{
    
    background-color: green;
}

.box-super-fruit{
  background-color: red;
}  
